<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Files</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Numans" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Uploaded Files</h1>
        <div class="table-container">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">File Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% for file in uploaded_files %}
                    <tr>
                        <td>{{ file.uploaded_file_name }}</td>
                        <td>
                            <a href="{% url 'view_sentences' file.id %}" class="btn btn-info">View Sentences</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <form action="{% url 'view_tags' %}" method="post" class="d-inline mt-3 ml-3">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ request.user.username }}">
            <button type="submit" class="btn btn-primary">View Tags</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
